#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle{
    font-size: 3rem;
    font-weight:600;
    padding: 3rem;
}
.skillDesc{
    margin-top: -rem;
    font-size: 1rem;
    font-weight: 300;
    max-width: 50rem;
    padding: 0 2rem;
}
.skillBars{
    margin:1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;

}

.skillBar{
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(50,50,50);
}
.skillBarTest>p{
    font-size: 1rem;
    font-weight:100;
}